<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <div th:replace="~{/layout/head :: head}"></div>
    <body>
        <div th:replace="~{/layout/header :: header}"></div>
        <div th:replace="~{/layout/menu :: menu}"></div>
        <section>
            <h3>참고사항</h3>
            <ul class="guide-ul">
                <li>Code는 필수입력 사항입니다. 입력하지 않은 경우 등록되지 않습니다.</li>
                <li>Name은 선택입력 사항입니다. 입력한 경우 '코드 (Name)'와 같은 형태로 표시됩니다.</li>
            </ul>
            <h1>기초상품코드</h1>
            <article>
                <form id="form" action="/api/product-codes">
                    <label for="group-index">Group : </label>
                    <input id="group-index" name="groupIndex" value="" readonly>
                    <label for="code">Code : </label>
                    <input id="code" name="code" value="" required>
                    <label for="name">Name : </label>
                    <input id="name" name="name" value="">
                    <input id="parent-id" name="parentId" value="" readonly hidden>
                    <button id="form-button" type="button">등록하기</button>
                </form>
            </article>
            <article>
                <div>
                    <h4>상위 카테고리<button class="active" id="button-A" type="button" value="0">+</button></h4>
                    <ul id="element-A"></ul>
                </div>
                <div>
                    <h4>하위 카테고리<button id="button-B" type="button" value="">+</button></h4>
                    <ul id="element-B"></ul>
                </div>
                <div>
                    <h4>상세 카테고리<button id="button-C" type="button" value="">+</button></h4>
                    <ul id="element-C"></ul>
                </div>
                <div>
                    <h4>생성 번호<button id="button-D" type="button" value="">+</button></h4>
                    <ul id="element-D"></ul>
                </div>
                <div>
                    <h4>상태 번호<button id="button-E" type="button" value="">+</button></h4>
                    <ul id="element-E"></ul>
                </div>
            </article>
        </section>
        <div th:replace="~{/layout/footer :: footer}"></div>
    </body>
    <script src="/static/js/product-codes/json.js"></script>
    <script>
        const groupIndexArray = ['A', 'B', 'C', 'D', 'E', 'F'];
        let selectedGroupIndex = 'A';

        Data.getJson('/api/product-codes', (data) => {
            for (const element of data) {
                let json = {
                    tag : 'li',
                    text : element.code + (element.name === '' ? '' : ' (' + element.name + ')'),
                    attributes : {
                        id : 'element-id_' + element.id,
                        name : 'parent-id_' + element.parentId,
                        class : (element.groupIndex === 'A') ? 'active' : ''
                    }
                };

                document.getElementById('element-' + element.groupIndex).append(
                    ElementTW.create(json).toElement()
                );
            }

            document.querySelectorAll('article > div > ul > li')
                .forEach(li => li.addEventListener('click', (evt) => {
                    resetSelected(evt.target.parentElement, evt.target);
                    resetSubData(evt.target.parentElement.id.split('-')[1], evt.target.id.split('_')[1]);
                }));
        });

        function resetSelected(elementGroup, element) {
            for (const element of elementGroup.children) {
                element.classList.remove('selected');
            }
            element.classList.add('selected');
        }

        function resetSubData(groupIndex, elementId) {
            let needClear = false;

            for (let i = 0; i < groupIndexArray.length - 1; i++) {
                if (needClear) {
                    for (const child of document.getElementById('element-' + groupIndexArray[i]).children) {
                        child.setAttribute('class', '');
                    }
                    ElementTW.get('button-' + groupIndexArray[i]).removeAttributes({class : 'active'});
                }
                if (groupIndexArray[i] === groupIndex) {
                    needClear = true;
                    selectedGroupIndex = groupIndexArray[i + 1];
                }
            }

            ElementTW.get('button-' + selectedGroupIndex).setAttributes({ class : 'active', value : elementId });
            document.querySelectorAll("li[name='parent-id_" + elementId + "']").forEach(li => li.setAttribute('class', 'active'));
        }

        document.querySelectorAll('article > div > h4 > button').forEach(ul => ul.addEventListener('click', (evt) => {
            ElementTW.get('group-index').setAttributes({ value : evt.target.id.split('-')[1] });
            ElementTW.get('parent-id').setAttributes({ value : evt.target.value });
        }));


        document.getElementById('form-button').addEventListener('click', (evt) => {
            Data.postJson(
                this.form,
                {
                    groupIndex: this.form.groupIndex.value,
                    code: this.form.code.value,
                    name: this.form.name.value,
                    parentId: this.form.parentId.value
                },
                () => location.reload()
            );
        });
    </script>
</html>