<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <title>관리자페이지</title>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <link rel="stylesheet" href="/static/css/root.css" />
  <link rel="stylesheet" href="/static/css/default.css" />
  <link th:if="${css != null}" rel="stylesheet" th:href="${'/static/css' + css + '.css'}" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/Element-tw.js"></script>
</head>

</html>