<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<header th:fragment="header">
  <div>
    <a class="img-wrapper" href="/"><img src="/static/image/testImg.png" alt="logo"></a>
  </div>
  <div>
    <a class="img-wrapper"><img src="/static/image/testImg.png" alt="1"></a>
    <a class="img-wrapper"><img src="/static/image/testImg.png" alt="2"></a>
    <a class="img-wrapper"><img src="/static/image/testImg.png" alt="3"></a>
  </div>
</header>

</html>