<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <div th:replace="~{/layout/head :: head}"></div>
  <body>
    <div th:replace="~{/layout/header :: header}"></div>
    <div th:replace="~{/layout/menu :: menu}"></div>
    <section>
      <h3>참고사항</h3>
      <ul class="guide-ul">
        <li>모든 정보를 입력해야 등록이 가능합니다.</li>
      </ul>
      <form id="form" method="post" action="/api/products"></form>
      <div class="button-group">
        <button id="form-button" type="submit" class="button-insert">등록하기</button>
        <button type="button" class="button-back" onclick="history.back()">돌아가기</button>
      </div>
    </section>
    <div th:replace="~{/layout/footer :: footer}"></div>
  </body>
  <script src="/static/js/products/json.js"></script>
  <script>
    const form2 = new Form(document.getElementById('form'));

    Data.getJson("/api/product-codes/unassigned", initData);
    form2.addTableForm(inputJson);

    function initData(data) {
      const target = document.getElementById('code');
      data.forEach(d => target.append(ElementTW.create({tag:'option', text:d, attributes: {value: d}}).toElement()));
    }

    document.getElementById('form-button').addEventListener('click', (evt) => {
      const base64Images = [];
      const extensions = [];
      const imageFiles = this.form.images.files;

      const readImageFiles = async () => {
        for (const imageFile of imageFiles) {
          const reader = new FileReader();
          const base64data = await new Promise((resolve) => {
            reader.onloadend = function() {
              const base64data = reader.result.split(',')[1];
              resolve(base64data);
            };
            reader.readAsDataURL(imageFile);
          });
          base64Images.push(base64data);
          extensions.push(imageFile.name.split('.')[1]);
        }

        Data.postJson(
          this.form,
          {
            name: this.form.name.value,
            nameEng: this.form.nameEng.value,
            code: this.form.code.value,
            sellingPrice: this.form.sellingPrice.value,
            costPrice: this.form.costPrice.value,
            stock: this.form.stock.value,
            brand: this.form.brand.value,
            placeOfOrigin: this.form.placeOfOrigin.value,
            base64ImageList: base64Images,
            extensionList: extensions
          },
          () => location.href = '/page/products/list'
        );
      };

      readImageFiles();
    });
  </script>
</html>